<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjh.mall.dao.ClientEnterpriseDao">

	<sql id="fullColumns">
        <![CDATA[
        	client_enterprise_id,
			client_id,
        	enterprise_name,
			enterprise_province,
			enterprise_city,
			enterprise_area,
			enterprise_street,
			enterprise_address,
			enterprise_linkman,
			enterprise_tel,
			major_business,
			status,
			init_date,
			init_time,
			invite_code,
			enterprise_short_name
	    ]]>
	</sql>

	<sql id="fullWhere">
		<where>
		
		<if test="client_enterprise_id !=null">
				AND client_enterprise_id=#{client_enterprise_id}
		</if>
		<if test="client_id !=null">
				AND client_id=#{client_id}
		</if>
		<if test="enterprise_name!=null">
				AND enterprise_name=#{enterprise_name}
		</if>
		<if test="enterprise_province!=null">
				AND enterprise_province=#{enterprise_province}
		</if>
		<if test="enterprise_city!=null">
				AND enterprise_city=#{enterprise_city}
		</if>
		<if test="enterprise_area!=null">
				AND enterprise_area=#{enterprise_area}
		</if>
		<if test="enterprise_street!=null">
				AND enterprise_street=#{enterprise_street}
		</if>
		<if test="enterprise_address !=null">
				AND enterprise_address=#{enterprise_address}
		</if>

	    <if test="enterprise_linkman!=null">
				AND enterprise_linkman = #{enterprise_linkman}
		</if>
		<if test="enterprise_tel!=null">
				AND enterprise_tel = #{enterprise_tel}
		</if>
		<if test="major_business!=null">
				AND major_business = #{major_business}
		</if>
		<if test="status != null">
				AND status = #{status}
		</if>
		<if test="init_date != null">
				AND init_date = #{init_date}
		</if>	
		
		<if test="init_time != null">
				AND init_time = #{init_time}
		</if>
		
		<if test="invite_code != null">
				AND invite_code = #{invite_code}
		</if>
		
		<if test="enterprise_short_name != null">
				AND enterprise_short_name = #{enterprise_short_name}
		</if>
		</where>
	</sql>
	
	<sql id="fullSet">
		<set>	
			<if test="client_enterprise_id !=null">
				client_enterprise_id=#{client_enterprise_id},
			</if>
			<if test="client_id !=null">
					client_id=#{client_id},
			</if>
			<if test="enterprise_name!=null">
					enterprise_name=#{enterprise_name},
			</if>
			<if test="enterprise_province!=null">
					enterprise_province=#{enterprise_province},
			</if>
			<if test="enterprise_city!=null">
					enterprise_city=#{enterprise_city},
			</if>
			<if test="enterprise_area!=null">
					enterprise_area=#{enterprise_area},
			</if>
			<if test="enterprise_street!=null">
					enterprise_street=#{enterprise_street},
			</if>
			<if test="enterprise_address !=null">
					enterprise_address=#{enterprise_address},
			</if>
	
		    <if test="enterprise_linkman!=null">
					enterprise_linkman = #{enterprise_linkman},
			</if>
			<if test="enterprise_tel!=null">
					enterprise_tel = #{enterprise_tel},
			</if>
			<if test="major_business!=null">
					major_business = #{major_business},
			</if>
			<if test="status != null">
					status = #{status},
			</if>
			<if test="init_date != null">
					init_date = #{init_date},
			</if>	
			
			<if test="init_time != null">
					init_time = #{init_time},
			</if>
			<if test="invite_code != null">
				    invite_code = #{invite_code},
			</if>
			<if test="enterprise_short_name != null">
					enterprise_short_name = #{enterprise_short_name}
		</if>
		</set>
	</sql>
	<sql id="sortAndPage">
		<if test="null != sortMarkers">
			order by
			<foreach collection="sortMarkers" item="sortMarker"
				separator=",">
				${sortMarker.field} ${sortMarker.direction}
			</foreach>
		</if>
		<if test="null != page">
			limit #{page.offset}, #{page.page_size}
		</if>
	</sql>
	<insert id="save" useGeneratedKeys="true">
		insert into client_enterprise ( 
		<include refid="fullColumns"></include>
		) values(
			#{client_enterprise_id},
			#{client_id},
        	#{enterprise_name},
			#{enterprise_province},
			#{enterprise_city},
			#{enterprise_area},
			#{enterprise_street},
			#{enterprise_address},
			#{enterprise_linkman},
			#{enterprise_tel},
			#{major_business},
			#{status},
			#{init_date},
			#{init_time},
			#{invite_code},
			#{enterprise_short_name}		
		)

	</insert>

	<update id="update">	
		update client_enterprise <include refid="fullSet"></include>
		where client_enterprise_id = #{client_enterprise_id} 			
	</update>
	
	<delete id="delete">	
	</delete>

	<select id="get" resultType="ClientEnterprise">
		select
		<include refid="fullColumns" />
		from client_enterprise	 where client_enterprise_id = #{client_enterprise_id}	
	</select>
	
	<select id="query" resultType="ClientEnterprise">
		select
		<include refid="fullColumns" />
		from client_enterprise 
		<include refid="fullWhere"></include>
	</select>
	<select id="count" resultType="int">
		select count(client_id)
		from client_detail 
		where 
		client_id in
			<foreach item="item" collection="ids" 
	                       open="(" separator="," close=")">
	                #{item}
	        </foreach>			
	</select>	
	
	<select id="getEnterpriseByClientId" resultType="map">
		select
			invite_code,
			enterprise_name,
			enterprise_address,
			enterprise_linkman,
			enterprise_tel,
			major_business,
			client_enterprise_id,
			enterprise_short_name
		from client_enterprise 
		<include refid="fullWhere"></include>
	</select>
	
	<select id="countByCommunity" resultType="int">
		select count(client_id)
		from client_detail 
		where 
		client_id in
			<foreach item="item" collection="ids" 
	                       open="(" separator="," close=")">
	                #{item}
	        </foreach>			
	</select>	
	
	<select id="getClientByIds" resultType="map">
		select
			client_id,
			address,
			avatar_path,
			real_name,
			sex,
			signature,
			nick_name,
			area_code
		from client_detail	where client_id in
			<foreach item="item" collection="ids" 
	                       open="(" separator="," close=")">
	                #{item}
	        </foreach>	
	        order by client_id desc
			limit #{page.offset}, #{page.page_size}
	</select>

	<insert id="batchSave" useGeneratedKeys="true">
		insert into client_detail (
		<include refid="fullColumns"></include>
		) values
		<foreach item="item" collection="clientDetails" separator=",">
			(#{item.address},#{item.street},#{item.avatar_path},#{item.real_name},#{item.sex},#{item.signature},#{item.client_id},#{item.nick_name},#{item.remark},#{item.update_version},#{item.update_user},#{item.status},#{item.area_code}))
		</foreach>
	</insert>
	
</mapper>
